* {margin:0;padding:0;}
body {margin:0px; font-family: Helvetica, Arial, sans-serif;font-size:large;}
/* font-size: xx-small x-small small medium large x-large xx-large */
img {border:0;margin:0px;padding:0px;}
a {font-weight:bold;text-decoration:none;color:black;}
ul {margin:0;padding:0;}
li {margin:0;padding:1em;border:solid black 1px;}
.hidden {}
.expose {} /* Here for completeness only. */
.copyright {padding:5px;align:left;font-style:italic;font-size:small;}
#exitApp {margin:0.1em;float:right;}
